body{
    background: linear-gradient(to bottom right, lightgreen, darkgreen);
    text-align: center;
    margin: 50px;

}
#apps{
    border: 5px solid;
    border-radius: 50px;
}
#games{
    border: 5px solid;
    border-radius: 50px;
}
#chatbot{
    border: 5px solid;
    border-radius: 50px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 5px;
}